.AboutDiv {
    margin-top: 20px;
  padding: 100px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  img {
    object-fit: cover;
    height: 260px;
    width: 260px;
    border-radius: 5%;
  }
}
.Right {
  width: 35%;
  p {
    margin-top: 20px;
    color: rgb(104, 100, 100);
  }
}
.BottonImage{
    position: absolute;
    left: 411px;
    top: 723px;
    // width: 50px;
}
