.ContactDiv {
  margin-top: 140px;
  @media only screen and (max-width:800px){
    margin-top: 20px;
  }
}
.Details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  text-align: center;

  p {
    color: rgb(104, 100, 100);
  }

 
}
.AddressSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.ContactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  input {
    padding: 10px;
  }
  textarea {
    padding: 20px;
  }
  button {
    padding: 5px;
    width: 100px;
  }
  @media only screen and (max-width:800px){
    width: 100%;
    input{
      text-decoration-style: none;
      width: 100%;
    }
    textarea{
      padding: 10px;
      width:100%;
    }
  }
}
.ContactSection {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 40px;
  @media only screen and (max-width:800px){
    flex-direction: column-reverse;
  
  }
}
.notification {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  z-index: 1000;
}

.notification.success {
  background-color: green;
}

.notification.error {
  background-color: red;
}
