.PortfolioSec {
  margin-top: 20px;
  padding: 100px;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 800px) {
    width: 100%;
    text-align: center;
    padding: 20px;
    .TextHeading {
      width: 100%;
    }
  }
}
.TextHeading {
  width: 63%;
}

.ProjectSection {
  display: flex;
  gap: 40px;
  justify-content: center;
  img {
    width: 300px;
  }
  @media only screen and (max-width:800px){
    flex-direction: column;
    padding: 20px;
    align-items: center;
    img{
      width: 100%;
    }
    .ProjectDetails{
        width: 100%;
    }
  }
}
.ProjectDetails {
  width: 26%;
  text-align: center;
  p {
    margin-top: 10px;
    color: rgb(104, 100, 100);
  }
}
.Technology {
  justify-content: center;
  margin-top: 20px;
  display: flex;
  gap: 40px;
}
.Links {
  margin-top: 40px;
  gap: 40px;
  display: flex;
  justify-content: center;
}
.SameLinks {
  display: flex;
  gap: 10px;
  align-items: center;
}
