footer{
  display: flex;
  justify-content: space-around;
  padding: 4rem 4rem;
  a{
    // font-family: $NavFont;
    font-size: smaller;
  }
//   @include media-query("sm"){
//     padding: 2rem 7px;
//     gap: 1rem;
//     text-align: center;
//   }
//   @include media-query("md"){
//     // padding: 2rem 4rem;
//     gap: 1rem;
//     text-align: center;
//   }
  flex-wrap: wrap;
  .logo-div{
    width: 20%;
    min-width: 300px;
    img{
      width: 100px;
    }
  }
  .mid-div{
    width: 35%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
//     @include media-query("sm"){
//       width: 100%;
//       text-align: left;
//       gap: 2rem;
//     }
//     @include media-query("md"){
//       width: 100%;
//       text-align: left;
//       gap: 2rem;
//     }
//   }
  .SocialIcons{
    // min-width: 350px;
    max-width: 500px;
    .icon{
      display: flex;
      gap: 1rem;
    //   @include media-query("sm"){
    //     justify-content: center;
    //   }
    //   @include media-query("md"){
    //     justify-content: center;
    //   }
    }
  }
}

}
.footerLLast{
background: black;
  padding: 8px;
  text-align: center;
  color: white;
}