.VideoSection {
    position: relative;
   
    .player {
      height: 90vh;
    //   width: 100vw;  
      overflow: hidden;
  
    //   background-color: green;
  
      .player1 {
        transform: scale(2.1);
  
        // width: 100%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
    // @include media-query("sm") {
    //   .player{
    //     overflow: hidden;
    //     height: 80vh;
    //     .player1 {
    //       transform: scale(3.1);
    //     }
    //   }
    //   .formSection{
    //     right: 50%;
    //     transform: translate(50%);
    //   }
    // }
  
    // @media (max-width: 1004px) {
    //   .player {
    //     height: 900px;
    }
    .Middle{
      // position: absolute;
      top: 50%;
    }