@forward "abstracts";
@forward "pages";
@forward "components";


    
*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
    box-sizing: border-box;
    // background: red;
}

